# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment files
.env

# Docker
*.docker
*.dockerignore

# OS-specific files
.DS_Store
Thumbs.db

# npm debug files
npm-debug.log*

# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Rust
target/

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
